body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.site-wraper {
  overflow-x: hidden;
}

h1, h2, h4{
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 300;
}
h4 {
  font-weight: 700;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn.btn-blue.btn-block {
  font-size: 20px;
  padding: 3px 30px;
}
.triangle-block {
  width: 25%;
  height: auto;
  margin-top: 3px;
  margin-bottom: 60px;
}
.btn-blue {
  background-color: rgba(16, 37, 204, .7);
  padding: 3px 60px;
  margin-top: 20px;
}
.btn-yellow {
  color: rgba(16, 37, 204, 1);
  background-color: rgba(255, 217, 83, 1);
  padding: 3px 60px;
  margin-top: 20px;
}
.triangle-btns {
  margin-top: 5px;
  width: 15%;
  height: auto;
  margin-bottom: 60px;
}
.btn-blue:hover {
  background-color: rgba(16, 37, 204, .6);
}
.btn-yellow:hover {
  background-color: rgba(255, 217, 83, .9);
  color: rgba(16, 37, 204, 1);
}
.btn-blue:active, .btn-blue:visited {
  background-color: rgba(16, 37, 204, .7);
  color: #ffffff;
}
.btn-yellow:active, .btn-yellow:visited {
  background-color: rgba(255, 217, 83, 1);
}
.btn-default {
  background-color: #ffffff;
  text-transform: none;
  color: rgba(16, 37, 204, 1);
}
.button {
  text-align: center;
  margin: auto;
}
/*End base*/

/*Jumbotron*/
.jumbotron {
  background: rgba(249, 248, 244, 0.7);
  margin-bottom: 0;
  padding-bottom: 0;
}


/*nav bar*/
.logo {
  display: block;
  width: 25%;
  height: auto;
  margin-left: 5%;
}
.navbar-nav {
    margin: 5px;
}
nav.navbar.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
ul.nav.navbar-nav {
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.navbar-nav>li>a {
  line-height: 10px;
}
ul.navbar-nav>li:last-child {
    margin-bottom: 20px;
  }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: none;
  }
.navbar-default .navbar-toggle {
  border-color: rgba(16, 37, 204, .2);
  background-color: rgba(249, 248, 244, 0.8);
  margin-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(16, 37, 204, 1);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(249, 248, 244, 0.8);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: rgba(16, 37, 204, .7);
}
.navbar-collapse{
  margin-top: 65px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -45px;
}
.navbar-default .navbar-collapse {
  border: none;
  background-color: rgba(249, 248, 244, 0.8);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
  /*End nav bar*/

.football-girl {
  width: 98%;
  margin-right: -23%;
  margin-top: -15%;
  margin-bottom: 0;
}
.heading {
  position: absolute;
  margin-top: -50%;
  margin-left: 5%;
}
.heading h1 {
  color: rgba(16, 37, 204, 1);
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 0;
}
.heading h2 {
  color: rgba(16, 37, 204, 1);
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 35px;
}
.jumbotron-btn{
  position: absolute;
  margin-top: -20px;

}
/*End Jumbotron*/

/*General settings sections*/
.about img.icon, .join img.icon, .info img.icon, .bring img.icon, .contact img.icon, .quote img.icon {
  margin-top: 60px;
  margin-bottom: 60px;
}
.about img.icon, .quote img.icon, .contact img.icon {
    width: 20%;
}
.join img.icon, .bring img.icon {
    width: 30%;
}

.about p, .join p, .info p, .bring p, .contact p, .quote p {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
  text-align: center;
}
.about p, .info p, .contact p, .quote p {
  color: rgba(249, 248, 244, .9);
}
.join p, .bring p, .quote p {
  color: rgba(16, 37, 204, 1);
}
/*End General settings sections*/

/*Get to Know us*/
.about {
  background-color: rgba(16, 37, 204, 1);
}

/*End Get to Know us*/


/*Can I Join?*/
.join {
  background-color: rgba(249, 248, 244, 0.7);
}


/*End Can I Join?*/

/*Where and When*/
.info {
  background-color: rgba(16, 37, 204, 1);
}
.info p.directions-text{
  margin-top: -10px;
}
.info h4 {
  color: rgba(249, 248, 244, .9);
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}
.map-holder{
  margin: 70px 0 40px 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 200px;
}
a.school-calendar {
  color: rgba(249, 248, 244, .9);
  font-style: italic;
  cursor: pointer;
}
a.school-calendar:hover {
  color: rgba(249, 248, 244, .6);
}

/*End Where and When*/

/*What to bring*/
.bring {
  background-color: rgba(249, 248, 244, 0.7);
}

/*End What to bring*/

/*Any Questions?*/
.contact {
  background-color: rgba(16, 37, 204, 1);
}

a.email {
  color: rgba(249, 248, 244, .9);
  font-style: italic;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
a.email:hover {
  color: rgba(249, 248, 244, .6);
}
a.email:visited, a:focus{
  color: rgba(249, 248, 244, .6);
  text-decoration: none;
}

input {
  margin-bottom: 10px;
}
textarea {
  margin-bottom: 10px;
}

.btn-default {
  font-size: 15px;
  padding: 0 20px;
}

/*End Any Questions?*/

/*One last thing*/
.quote {
  background-color: rgba(249, 248, 244, 0.7);
}
h1.quote-text {
  color: rgba(16, 37, 204, 1);
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
h2.wednesday-text {
  color: rgba(16, 37, 204, 1);
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}

/*End One last thing*/

/*Footer*/
footer {
  background-color: rgba(16, 37, 204, 1);
  margin-bottom: 10px;
  padding: 15px 0;
}
small {
  font-size: 12px;
  color: rgba(249, 248, 244, .9);
}
small.copy-right {
  border-right: 1px solid rgba(249, 248, 244, .9);
  padding-right: 8px;
}

/*End Footer*/

/*Responsive*/

  /*Extra Small Devices, Phones*/
  @media only screen and (min-width: 480px) {

  }

  /*Arranging Jumbotron*/
  @media only screen and (min-width: 550px) {
    .btn.btn-blue.btn-block {font-size: 25px; padding: 3px 40px;}
    .football-girl {width:85%; margin-top: 5%; margin-right: -19%;}
    .heading {margin-top: -48%;}
    .heading h1 {font-size: 45px;}
    .heading h2 {font-size: 43px;}
    .triangle-btns {width: 12%}
  }
  @media only screen and (min-width: 650px) {
    .btn.btn-blue.btn-block {font-size: 25px; padding: 3px 40px;}
    .football-girl {width:77%; margin-top: 5%; margin-right: -17%;}
    .heading {margin-top: -38%; margin-left: 23%;}
    .heading h1 {font-size: 45px;}
    .heading h2 {font-size: 43px;}
    .triangle-btns {width: 10%}
    .about img.icon, .quote img.icon, .contact img.icon {width: 15%;}
    .join img.icon, .bring img.icon {width: 25%;}
    input {margin-bottom: 20px;}
    textarea {margin-bottom: 20px;}
    input.form-control {width: 70%; margin-left: 15%;}


  /*Small Devices, Tablets*/
  @media only screen and (min-width: 768px) {
    .btn.btn-blue.btn-block {font-size: 28px; padding: 3px 40px;}
    .football-girl {width:70%; margin-top: -15%; margin-right: -10%;}
    .heading {margin-top: -35%; margin-left: 25%;}
    .heading h1 {font-size: 50px;}
    .heading h2 {font-size: 48px;}
    .btn {font-size: 25px;}
  }


  /*Arranging Jumbotron*/
  @media only screen and (min-width: 850px) {
    .btn.btn-blue.btn-block {font-size: 28px; padding: 3px 60px;}
    .football-girl {width:70%; margin-top: -15%; margin-right: -16%;}
    .heading {margin-top: -34%; margin-left: 17%;}
    .heading h1 {font-size: 55px;}
    .heading h2 {font-size: 53px;}
    .triangle-btns {width: 8%}
    .about img.icon, .quote img.icon, .contact img.icon {width: 12%;}
    .join img.icon, .bring img.icon {width: 20%;}
    input {margin-bottom: 20px;}
    textarea {margin-bottom: 20px;}
    input.form-control {width: 60%; margin-left: 20%;}
    textarea.form-control {width: 80%; margin-left: 10%;}
  }


  /*Medium Devices, Laptops*/
  @media only screen and (min-width: 992px) {
    body {font-size: 25px;}
    .logo {width: 20%;}
    .btn.btn-blue.btn-block {font-size: 33px; padding: 3px 70px;}
    .football-girl {width:60%; margin-top: -12%; margin-right: -13%;}
    .heading {margin-top: -32%; margin-left: 25%;}
    .heading h1 {font-size: 65px;}
    .heading h2 {font-size: 63px;}
    .btn {font-size: 28px;}
    .about img.icon, .quote img.icon, .contact img.icon {width: 10%;}
    .join img.icon, .bring img.icon {width: 16%;}
    .about p, .join p, .info p, .bring p, .contact p, .quote p {margin-left: 20%; margin-right: 20%;}
    .info h4 {font-size: 25px;}
    .info p, .contact p {font-size: 22px;}
    input {margin-bottom: 20px;}
    textarea {margin-bottom: 20px;}
    input.form-control {width: 40%; margin-left: 30%;}
    textarea.form-control {width: 60%; margin-left: 20%;}
    .contact .send {font-size: 23px; margin-bottom: 20px;}
    h1.quote-text {font-size: 55px;}
    h2.wednesday-text {font-size: 43px; margin-bottom: 150px;}
  }


  /*Large Devices, Desktops*/
  @media only screen and (min-width: 1200px) {
    .btn.btn-blue.btn-block {font-size: 33px; padding: 3px 95px;}
    .football-girl {width:50%; margin-top: -10%; margin-right: -6%;}
    .heading {margin-top: -30%; margin-left: 30%;}
    .heading h1 {font-size: 72px;}
    .heading h2 {font-size: 72px;}
  }

  /*Arranging Jumbotron*/
  @media only screen and (min-width: 1300px) {
    .football-girl {width:55%; margin-top: -10%; margin-right: -16%;}
    .heading {margin-top: -27%; margin-left: 31%;}
  }

  @media only screen and (min-width: 1500px) {
    .btn.btn-blue.btn-block {font-size: 33px; padding: 3px 117px;}
    .football-girl {width:60%; margin-top: -10%; margin-right: -27%;}
    .heading {margin-top: -25%; margin-left: 30%;}
    .heading h1 {font-size: 80px;}
    .heading h2 {font-size: 80px;}
  }
